body {
  font-family: "Poppins", sans-serif;
}

header img {
  width: 200px;
}

header a {
  padding: 10px;
  color: black;
  font-weight: 500;
  font-size: 14px;
}

header .specialof {
  width: 70px;
}

header #sale::after {
  content: 'Sale';
  position: absolute;
  font-size: 10px;
  color: white;
  text-align: center;
  width: 35px;
  height: 15px;
  background-color: #ff3300;
  top: 3px;
  left: 480px;
  border-radius: 12%;
}

header #hot::after {
  content: 'Hot';
  font-size: 10px;
  text-align: center;
  color: white;
  position: absolute;
  width: 35px;
  height: 15px;
  background-color: #ffc400;
  top: 3px;
  right: 236px;
  border-radius: 12%;
}

header #new::after {
  content: 'New';
  position: absolute;
  font-size: 10px;
  text-align: center;
  color: white;
  width: 35px;
  height: 15px;
  background-color: #01c070;
  top: 3px;
  right: 137px;
  border-radius: 12%;
}

header .menuright a {
  padding: 23px;
  font-size: 17px;
}

main .slide, main .carousel-inner {
  height: 550px;
  margin-top: 15px;
}

main .carousel-caption {
  padding-bottom: 350px;
}

main .carousel-caption .firstslide h1 {
  margin-right: 550px;
}

main .carousel-caption .firstslide p {
  margin-right: 450px;
}

main .carousel-caption .thirdslide h5, main .carousel-caption .thirdslide p {
  margin-right: 380px;
}

main .NewArrivals {
  font-weight: bold;
}

main .NewArrivals h2 {
  text-align: center;
  margin-top: 80px;
}

main .NewArrivals .owl-carousel {
  margin-top: 30px;
}

main .NewArrivals .owl-carousel img {
  max-width: 100%;
}

main .NewArrivals .owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-left: -40px;
  display: block !important;
  border: 0px solid black;
}

main .NewArrivals .owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: -45px;
  display: block !important;
  border: 0px solid black;
}

main #MostPopular {
  margin-top: 100px;
}

main #MostPopular .mainpopular {
  margin-bottom: 35px;
}

main #MostPopular .mainpopular h2 {
  font-weight: 400;
  text-align: center;
}

main #MostPopular .mainpopular p {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  margin-left: 470px;
}

main #MostPopular .mainpopular a {
  color: #17a8a3;
  text-decoration: underline;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  margin-left: 180px;
}

main #MostPopular .popularimages a {
  text-decoration: none;
}

main #MostPopular .popularimages img {
  width: 418px;
}

main #MostPopular .popularimages .fade {
  opacity: 1;
  transition: opacity .20s ease-in-out;
  -moz-transition: opacity .20s ease-in-out;
  -o-transition: opacity .20s ease-in-out;
  -webkit-transition: opacity .20s ease-in-out;
}

main #MostPopular .popularimages .fade:hover {
  opacity: 0.7;
}

main #MostPopular .teas {
  margin-top: 40px;
}

main #MostPopular .teas .btn {
  width: 200px;
  height: 45px;
  border-radius: 0;
  border-color: #505050;
  color: black;
}

main #MostPopular .teas .btn:hover {
  color: white;
  border-color: #5bc0de;
}

main #MostPopular .teas .firstteas {
  margin-right: 50px;
}

main #MostPopular .teas .firstteas h3, main #MostPopular .teas .firstteas p, main #MostPopular .teas .firstteas .btn {
  margin-bottom: 40px;
}

main #MostPopular .teas .secondteas h3, main #MostPopular .teas .secondteas p, main #MostPopular .teas .secondteas .btn {
  margin-bottom: 40px;
}

main #MostPopular .teas .thirdteas {
  margin-left: 50px;
}

main #MostPopular .teas .thirdteas h3, main #MostPopular .teas .thirdteas p, main #MostPopular .teas .thirdteas .btn {
  margin-bottom: 40px;
}

main #newprdcs {
  margin-bottom: 50px;
}

main #newprdcs .card {
  border-style: none;
}

main #newprdcs .owl-prev {
  width: 25px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-left: -40px;
  display: block !important;
  border: 0px solid black;
}

main #newprdcs .owl-next {
  width: 25px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: -45px;
  display: block !important;
  border: 0px solid black;
}

main #newprdcs .secondcard::after {
  content: '-71%';
  position: absolute;
  font-size: 12px;
  text-align: center;
  color: white;
  width: 40px;
  height: 18px;
  background-color: #e95144;
  top: 14px;
  right: 162px;
  border-radius: 0;
}

main #newprdcs .secondcard::before {
  content: 'Bundle';
  position: absolute;
  font-size: 13px;
  text-align: center;
  color: white;
  width: 55px;
  height: 20px;
  background-color: #0d2d4d;
  top: 38px;
  left: 38px;
  border-radius: 0;
}

main #newprdcs .thirdcard::after {
  content: '-45%';
  position: absolute;
  font-size: 12px;
  text-align: center;
  color: white;
  width: 40px;
  height: 18px;
  background-color: #e95144;
  top: 14px;
  right: 162px;
  border-radius: 0;
}

main #newprdcs .forthcard::after {
  content: '-45%';
  position: absolute;
  font-size: 12px;
  text-align: center;
  color: white;
  width: 40px;
  height: 18px;
  background-color: #e95144;
  top: 14px;
  right: 162px;
  border-radius: 0;
}

main #newprdcs .fifthcard::after {
  content: '-47%';
  position: absolute;
  font-size: 12px;
  text-align: center;
  color: white;
  width: 40px;
  height: 18px;
  background-color: #e95144;
  top: 10px;
  right: 162px;
  border-radius: 0;
}

main #newprdcs h2 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  font-weight: bold;
  display: inline-block;
  margin-left: 430px;
}

main #newprdcs a {
  color: #17a8a3;
  text-decoration: underline;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  margin-left: 345px;
}

main #newprdcs p {
  font-size: 13px;
  font-weight: 500px;
}

main #newprdcs span {
  font-size: 15px;
  font-weight: 150px;
}

main #newprdcs #from {
  font-size: 12px;
}

main #newprdcs #number20 {
  color: #e95144;
}

main #partvideo {
  margin-top: 50px;
  margin-bottom: 50px;
}

main #partvideo h2 {
  font-weight: bold;
  font-size: 50px;
  margin-right: 100px;
  margin-left: 40px;
  color: #17a8a3;
}

main #partvideo p {
  font-weight: 300;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 100px;
}

main #partvideo .btn {
  margin-top: 20px;
  margin-left: 40px;
  border-radius: 0;
  width: 195px;
  height: 45px;
  color: white;
  background-color: #17a8a3;
}

main #partvideo .btn:hover {
  background-color: #0b8585;
}

main #partvideo img {
  max-width: 100%;
}

main #partvideo .leftpart {
  margin-top: 108px;
}
