main {
  /* styles unrelated to zoom */
}

main .slide, main .carousel-inner {
  height: 550px;
  margin-top: 15px;
}

main .carousel-caption {
  padding-bottom: 350px;
}

main .carousel-caption .firstslide h1 {
  margin-right: 550px;
}

main .carousel-caption .firstslide p {
  margin-right: 450px;
}

main .carousel-caption .thirdslide h5, main .carousel-caption .thirdslide p {
  margin-right: 380px;
}

main .NewArrivals {
  font-weight: bold;
}

main .NewArrivals h2 {
  text-align: center;
  margin-top: 80px;
}

main .NewArrivals .owl-carousel {
  margin-top: 30px;
}

main .NewArrivals .owl-carousel img {
  max-width: 100%;
}

main .NewArrivals .owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-left: -40px;
  display: block !important;
  border: 0px solid black;
}

main .NewArrivals .owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: -45px;
  display: block !important;
  border: 0px solid black;
}

main #MostPopular {
  margin-top: 100px;
}

main #MostPopular .mainpopular {
  margin-bottom: 35px;
}

main #MostPopular .mainpopular h2 {
  font-weight: 400;
  text-align: center;
}

main #MostPopular .mainpopular p {
  font-size: 12px;
  font-weight: 400;
  color: grey;
  font-style: normal;
  display: inline-block;
  text-align: center;
  margin-left: 470px;
}

main #MostPopular .mainpopular a {
  color: #17a8a3;
  text-decoration: underline;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  margin-left: 180px;
}

main #MostPopular .popularimages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #MostPopular .popularimages .popular1 img {
  max-width: 100%;
}

main #MostPopular .popularimages .popular2 img {
  max-width: 100%;
}

main #MostPopular .popularimages .popular3 img {
  max-width: 100%;
}

main #MostPopular .teas {
  margin-top: 40px;
}

main #MostPopular .teas .btn {
  width: 200px;
  height: 45px;
  border-radius: 0;
  border-color: #505050;
  color: black;
}

main #MostPopular .teas .btn:hover {
  color: white;
  border-color: #5bc0de;
}

main #MostPopular .teas .firstteas {
  margin-right: 50px;
}

main #MostPopular .teas .firstteas h3, main #MostPopular .teas .firstteas p, main #MostPopular .teas .firstteas .btn {
  margin-bottom: 40px;
}

main #MostPopular .teas .firstteas p {
  font-size: 12px;
  color: grey;
}

main #MostPopular .teas .secondteas h3, main #MostPopular .teas .secondteas p, main #MostPopular .teas .secondteas .btn {
  margin-bottom: 40px;
}

main #MostPopular .teas .secondteas p {
  font-size: 12px;
  color: grey;
}

main #MostPopular .teas .thirdteas {
  margin-left: 50px;
}

main #MostPopular .teas .thirdteas h3, main #MostPopular .teas .thirdteas p, main #MostPopular .teas .thirdteas .btn {
  margin-bottom: 40px;
}

main #MostPopular .teas .thirdteas p {
  font-size: 12px;
  color: grey;
}

main #newprdcs {
  margin-bottom: 50px;
}

main #newprdcs .card {
  border-style: none;
}

main #newprdcs .owl-prev {
  width: 25px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-left: -40px;
  display: block !important;
  border: 0px solid black;
}

main #newprdcs .owl-next {
  width: 25px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: -45px;
  display: block !important;
  border: 0px solid black;
}

main #newprdcs .secondcard::after {
  content: '-71%';
  position: absolute;
  font-size: 12px;
  text-align: center;
  color: white;
  width: 40px;
  height: 18px;
  background-color: #e95144;
  top: 14px;
  right: 162px;
  border-radius: 0;
}

main #newprdcs .secondcard::before {
  content: 'Bundle';
  position: absolute;
  font-size: 12px;
  text-align: center;
  color: white;
  width: 55px;
  height: 20px;
  background-color: #0d2d4d;
  top: 38px;
  left: 38px;
  border-radius: 0;
}

main #newprdcs .thirdcard::after {
  content: '-45%';
  position: absolute;
  font-size: 12px;
  text-align: center;
  color: white;
  width: 40px;
  height: 18px;
  background-color: #e95144;
  top: 14px;
  right: 162px;
  border-radius: 0;
}

main #newprdcs .forthcard::after {
  content: '-45%';
  position: absolute;
  font-size: 12px;
  text-align: center;
  color: white;
  width: 40px;
  height: 18px;
  background-color: #e95144;
  top: 14px;
  right: 162px;
  border-radius: 0;
}

main #newprdcs .fifthcard::after {
  content: '-47%';
  position: absolute;
  font-size: 12px;
  text-align: center;
  color: white;
  width: 40px;
  height: 18px;
  background-color: #e95144;
  top: 10px;
  right: 162px;
  border-radius: 0;
}

main #newprdcs h2 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  font-weight: bold;
  display: inline-block;
  margin-left: 430px;
}

main #newprdcs a {
  color: #17a8a3;
  text-decoration: underline;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  margin-left: 345px;
}

main #newprdcs p {
  font-size: 12px;
  font-weight: 500px;
}

main #newprdcs span {
  font-size: 15px;
  font-weight: 150px;
}

main #newprdcs #from {
  font-size: 12px;
}

main #newprdcs #number20 {
  color: #e95144;
}

main #partvideo {
  margin-top: 50px;
  margin-bottom: 50px;
}

main #partvideo h2 {
  font-weight: bold;
  font-size: 50px;
  margin-right: 100px;
  margin-left: 40px;
  color: #17a8a3;
}

main #partvideo p {
  font-weight: 300;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 100px;
}

main #partvideo .btn {
  margin-top: 20px;
  margin-left: 40px;
  border-radius: 0;
  width: 195px;
  height: 45px;
  color: white;
  background-color: #17a8a3;
}

main #partvideo .btn:hover {
  color: white;
  border-color: #0c865e;
  background-color: #167757e3;
}

main #partvideo img {
  max-width: 100%;
}

main #partvideo .leftpart {
  margin-top: 108px;
}

main #imageGallery {
  margin-top: 80px;
}

main #imageGallery h2, main #imageGallery p {
  text-align: center;
}

main #imageGallery .images .firstrow, main #imageGallery .images .secondrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #imageGallery .images img {
  max-width: 100%;
}

main #imageGallery .btn {
  width: 200px;
  height: 45px;
  border-radius: 0;
  border-color: #505050;
  color: black;
  margin-left: 545px;
  margin-top: 50px;
}

main #imageGallery .btn:hover {
  color: white;
  border-color: #5bc0de;
}

main #RecentPosts {
  margin-top: 100px;
}

main #RecentPosts .mainrecent {
  margin-bottom: 35px;
}

main #RecentPosts .mainrecent h2 {
  font-weight: 400;
  text-align: center;
  display: inline-block;
  margin-left: 540px;
}

main #RecentPosts .mainrecent a {
  color: #17a8a3;
  text-decoration: underline;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  margin-left: 250px;
}

main #RecentPosts .recentimages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #RecentPosts .recentimages .recent1 img {
  max-width: 100%;
}

main #RecentPosts .recentimages .recent2 img {
  max-width: 100%;
}

main #RecentPosts .recentimages .recent3 img {
  max-width: 100%;
}

main #RecentPosts .recenteas {
  margin-top: 40px;
}

main #RecentPosts .recenteas .btn {
  width: 150px;
  height: 45px;
  border-radius: 0;
  border-color: #505050;
  color: black;
}

main #RecentPosts .recenteas .btn:hover {
  color: white;
  border-color: #5bc0de;
}

main #RecentPosts .recenteas .firstrecenteas {
  margin-right: 50px;
}

main #RecentPosts .recenteas .firstrecenteas h3, main #RecentPosts .recenteas .firstrecenteas p, main #RecentPosts .recenteas .firstrecenteas .btn {
  margin-bottom: 40px;
}

main #RecentPosts .recenteas .secondrecenteas h3, main #RecentPosts .recenteas .secondrecenteas p, main #RecentPosts .recenteas .secondrecenteas .btn {
  margin-bottom: 40px;
}

main #RecentPosts .recenteas .thirdrecenteas {
  margin-left: 50px;
}

main #RecentPosts .recenteas .thirdrecenteas h3, main #RecentPosts .recenteas .thirdrecenteas p, main #RecentPosts .recenteas .thirdrecenteas .btn {
  margin-bottom: 40px;
}

main #imgsection {
  margin-bottom: 50px;
}

main #imgsection .imgmain {
  height: 700px;
  max-width: 100%;
  background-image: url("../images/igor-miske-CwVE4xCAA8Y-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main #imgsection .imgmain .texts {
  padding-top: 130px;
  padding-left: 600px;
}

main #imgsection .imgmain .texts h1 {
  color: white;
  font-weight: 610;
  font-size: 45px;
  padding-bottom: 36px;
}

main #imgsection .imgmain .texts p {
  color: white;
  font-size: 12px;
}

main #imgsection .imgmain .emailinput {
  padding-top: 36px;
}

main #imgsection .imgmain .emailinput .form-control {
  width: 480px;
  background: transparent;
  fill: none;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0;
  border-bottom: 2px solid white;
}

main #imgsection .imgmain .emailbutton {
  margin-top: 23px;
  margin-left: 20px;
  height: 50px;
  border-radius: 0;
  background-color: #17a8a3;
  color: white;
  width: 140px;
}

main #imgsection .imgmain .emailbutton:hover {
  color: white;
  border-color: #0c865e;
  background-color: #167757e3;
}

main .pageshortcut {
  margin-left: 12px;
  margin-top: 80px;
  font-size: 12px;
}

main .pageshortcut p {
  display: inline-block;
  color: gray;
  margin-left: 5px;
}

main .pageshortcut a {
  text-decoration: none;
  color: gray;
  margin-left: 8px;
}

main #productpage {
  margin-top: 100px;
}

main #productpage .zoompicture {
  /* these styles are for the demo, but are not required for the plugin */
  /* magnifying glass icon */
}

main #productpage .zoompicture * {
  border: 0;
  margin: 0;
  padding: 0;
}

main #productpage .zoompicture p {
  position: absolute;
  top: 3px;
  right: 28px;
  color: #555;
  font: bold 13px/1 sans-serif;
}

main #productpage .zoompicture .zoom {
  display: inline-block;
  position: relative;
}

main #productpage .zoompicture .zoom:after {
  content: '';
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(icon.png);
}

main #productpage .zoompicture .zoom img {
  display: block;
  height: 540px;
}

main #productpage .zoompicture .zoom img::-moz-selection {
  background-color: transparent;
}

main #productpage .zoompicture .zoom img::selection {
  background-color: transparent;
}

main #productpage .zoompicture #ex2 img:hover {
  cursor: url(grab.cur), default;
}

main #productpage .zoompicture #ex2 img:active {
  cursor: url(grabbed.cur), default;
}

main .productright {
  margin-left: 80px;
}

main .productright h4 {
  font-weight: 550;
}

main .productright img {
  height: 14px;
}

main .productright .startext {
  display: inline-block;
  margin-left: 8px;
  font-size: 12px;
  color: gray;
}

main .productright .fire {
  margin-left: 12px;
  height: 30px;
}

main .productright .firetext {
  display: inline-block;
  color: red;
  font-size: 12px;
}

main .productright .lefttext {
  margin-top: 20px;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
}

main .productright .righttext {
  margin-left: 35px;
  font-size: 12px;
  font-weight: 350;
  color: gray;
  display: inline-block;
}

main .productright .text {
  font-size: 13px;
  font-weight: 350;
  color: gray;
}

main .productright #size {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
}

main .productright #small {
  display: inline-block;
  font-size: 13px;
  font-weight: 350;
  color: gray;
}

main .productright .buttons .btn {
  height: 33px;
  width: 65px;
  font-size: 13px;
  color: black;
}

main .productright .buttons .btn:hover {
  background-color: white;
  color: black;
}

main .productright #quanity {
  margin-top: 30px;
  font-size: 13px;
}

header img {
  width: 200px;
}

header a {
  padding: 10px;
  color: black;
  font-weight: 500;
  font-size: 14px;
}

header .specialof {
  width: 70px;
}

header #sale::after {
  content: 'Sale';
  position: absolute;
  font-size: 10px;
  color: white;
  text-align: center;
  width: 35px;
  height: 15px;
  background-color: #ff3300;
  top: 3px;
  left: 480px;
  border-radius: 12%;
}

header #hot::after {
  content: 'Hot';
  font-size: 10px;
  text-align: center;
  color: white;
  position: absolute;
  width: 35px;
  height: 15px;
  background-color: #ffc400;
  top: 3px;
  right: 236px;
  border-radius: 12%;
}

header #new::after {
  content: 'New';
  position: absolute;
  font-size: 10px;
  text-align: center;
  color: white;
  width: 35px;
  height: 15px;
  background-color: #01c070;
  top: 3px;
  right: 137px;
  border-radius: 12%;
}

header .menuright a {
  padding: 23px;
  font-size: 17px;
}

#iconsfooter {
  margin-left: 45px;
}

#iconsfooter .iconbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#iconsfooter .iconbox i {
  font-size: 50px;
  margin-right: 20px;
}

#iconsfooter .iconbox .icontext h6 {
  font-size: 14px;
  margin-bottom: 10px;
}

#iconsfooter .iconbox .icontext p {
  font-size: 12px;
  font-weight: 300;
  color: grey;
  text-decoration: underline;
}

#endoffooter .contact {
  margin-top: 30px;
}

#endoffooter .boximg img {
  width: 45%;
  margin-top: 30px;
  margin-bottom: 25px;
  margin-left: 50px;
}

#endoffooter p {
  font-size: 11px;
  font-weight: 400;
  color: grey;
  margin-left: 50px;
}

#endoffooter p a {
  color: black;
  text-decoration: underline;
}

#endoffooter ul {
  margin-top: 55px;
  list-style-type: none;
}

#endoffooter ul li {
  font-size: 12px;
  margin-top: 15px;
  color: grey;
}

#endoffooter ul .headli {
  font-size: 17px;
  font-weight: 500;
  color: #000;
}

#lastpart {
  margin-bottom: 40px;
  margin-top: 50px;
}

#lastpart p {
  font-size: 12px;
  color: grey;
  margin-left: 50px;
}

#lastpart .bankcards {
  margin-left: 250px;
}

#lastpart .bankcards img {
  width: 40px;
  margin-left: 10px;
}

body {
  font-family: "Poppins", sans-serif;
}
