main .my-breadcrumb {
  padding-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .my-breadcrumb a {
  color: black;
}

main .my-breadcrumb .breadcrumb-icon {
  padding: 0 5px;
}

main .titleh3 {
  padding-left: 20px;
}

main .slide, main .carousel-inner {
  height: 550px;
  margin-top: 15px;
}

main .carousel-caption {
  padding-bottom: 350px;
}

main .carousel-caption .firstslide h1 {
  margin-right: 550px;
}

main .carousel-caption .firstslide p {
  margin-right: 450px;
}

main .carousel-caption .thirdslide h5, main .carousel-caption .thirdslide p {
  margin-right: 380px;
}

main .NewArrivals {
  font-weight: bold;
}

main .NewArrivals h2 {
  text-align: center;
  margin-top: 80px;
}

main .NewArrivals .owl-carousel {
  margin-top: 30px;
}

main .NewArrivals .owl-carousel img {
  max-width: 100%;
}

main .NewArrivals .owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-left: -40px;
  display: block !important;
  border: 0px solid black;
}

main .NewArrivals .owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: -45px;
  display: block !important;
  border: 0px solid black;
}

main #MostPopular {
  margin-top: 100px;
}

main #MostPopular h2 {
  font-weight: 400;
  text-align: center;
}

main #MostPopular .mainpopular {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #MostPopular .mainpopular p {
  font-size: 12px;
  font-weight: 400;
  color: grey;
  font-style: normal;
  text-align: center;
}

main #MostPopular .mainpopular a {
  color: #17a8a3;
  text-decoration: underline;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  position: absolute;
  right: 30px;
}

main #MostPopular .popularimages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #MostPopular .popularimages .popular1 img {
  max-width: 100%;
}

main #MostPopular .popularimages .popular2 img {
  max-width: 100%;
}

main #MostPopular .popularimages .popular3 img {
  max-width: 100%;
}

main #MostPopular .popularimages .firstteas {
  padding: 30px;
}

main #MostPopular .popularimages .firstteas h3 {
  font-size: 20px;
  font-weight: 550;
}

main #MostPopular .popularimages .firstteas p {
  font-size: 12px;
  color: #787878;
}

main #MostPopular .popularimages .firstteas .btn1 {
  border-radius: 0%;
  color: black;
  border-color: black;
}

main #MostPopular .popularimages .firstteas .btn1:hover {
  color: white;
  background-color: #17A8A3;
  border-color: #17A8A3;
}

main #MostPopular .popularimages .secondteas {
  padding: 30px;
}

main #MostPopular .popularimages .secondteas h3 {
  font-size: 20px;
  font-weight: 550;
}

main #MostPopular .popularimages .secondteas p {
  font-size: 12px;
  color: #787878;
}

main #MostPopular .popularimages .secondteas .btn2 {
  border-radius: 0%;
  color: black;
  border-color: black;
}

main #MostPopular .popularimages .secondteas .btn2:hover {
  color: white;
  background-color: #17A8A3;
  border-color: #17A8A3;
}

main #MostPopular .popularimages .thirdteas {
  padding: 30px;
}

main #MostPopular .popularimages .thirdteas h3 {
  font-size: 20px;
  font-weight: 550;
}

main #MostPopular .popularimages .thirdteas p {
  font-size: 12px;
  color: #787878;
}

main #MostPopular .popularimages .thirdteas .btn3 {
  border-radius: 0%;
  color: black;
  border-color: black;
}

main #MostPopular .popularimages .thirdteas .btn3:hover {
  color: white;
  background-color: #17A8A3;
  border-color: #17A8A3;
}

main #newprdcs {
  margin-bottom: 50px;
}

main #newprdcs .hearticon {
  position: relative;
}

main #newprdcs .hearticon i {
  position: absolute;
  bottom: 200px;
  left: 200px;
}

main #newprdcs .mainnewproducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #newprdcs .mainnewproducts h2 {
  font-size: 24px;
  font-weight: 550;
}

main #newprdcs .mainnewproducts a {
  color: #17a8a3;
  text-decoration: underline;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  position: absolute;
  right: 40px;
}

main #newprdcs .card {
  border-style: none;
}

main #newprdcs .owl-prev {
  width: 25px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-left: -40px;
  display: block !important;
  border: 0px solid black;
}

main #newprdcs .owl-next {
  width: 25px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: -45px;
  display: block !important;
  border: 0px solid black;
}

main #newprdcs .secondcard::after {
  content: '-71%';
  position: absolute;
  font-size: 12px;
  text-align: center;
  color: white;
  width: 40px;
  height: 18px;
  background-color: #e95144;
  top: 14px;
  right: 162px;
  border-radius: 0;
}

main #newprdcs .secondcard::before {
  content: 'Bundle';
  position: absolute;
  font-size: 12px;
  text-align: center;
  color: white;
  width: 55px;
  height: 20px;
  background-color: #0d2d4d;
  top: 38px;
  left: 38px;
  border-radius: 0;
}

main #newprdcs .thirdcard::after {
  content: '-45%';
  position: absolute;
  font-size: 12px;
  text-align: center;
  color: white;
  width: 40px;
  height: 18px;
  background-color: #e95144;
  top: 14px;
  right: 162px;
  border-radius: 0;
}

main #newprdcs .forthcard::after {
  content: '-45%';
  position: absolute;
  font-size: 12px;
  text-align: center;
  color: white;
  width: 40px;
  height: 18px;
  background-color: #e95144;
  top: 14px;
  right: 162px;
  border-radius: 0;
}

main #newprdcs .fifthcard::after {
  content: '-47%';
  position: absolute;
  font-size: 12px;
  text-align: center;
  color: white;
  width: 40px;
  height: 18px;
  background-color: #e95144;
  top: 10px;
  right: 162px;
  border-radius: 0;
}

main #newprdcs p {
  font-size: 12px;
  font-weight: 500px;
}

main #newprdcs span {
  font-size: 15px;
  font-weight: 150px;
}

main #newprdcs #from {
  font-size: 12px;
}

main #newprdcs #number20 {
  color: #e95144;
}

main #partvideo {
  margin-top: 50px;
  margin-bottom: 50px;
}

main #partvideo h2 {
  font-weight: bold;
  font-size: 50px;
  color: #17a8a3;
}

main #partvideo p {
  font-weight: 300;
  font-size: 15px;
  margin-top: 20px;
}

main #partvideo .btn {
  margin-top: 20px;
  border-radius: 0;
  width: 195px;
  height: 45px;
  color: white;
  background-color: #17a8a3;
}

main #partvideo .btn:hover {
  color: white;
  border-color: #0c865e;
  background-color: #167757e3;
}

main #partvideo img {
  max-width: 100%;
}

main #partvideo .leftpart {
  margin-top: 108px;
  padding-left: 30px;
}

main #imageGallery {
  margin-top: 80px;
}

main #imageGallery h2, main #imageGallery p {
  text-align: center;
}

main #imageGallery .images .firstrow, main #imageGallery .images .secondrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #imageGallery .images img {
  max-width: 100%;
}

main #imageGallery .btnimg {
  text-align: center;
}

main #imageGallery .btnimg a {
  width: 200px;
  height: 45px;
  border-radius: 0;
  border-color: #505050;
  color: black;
  margin-top: 50px;
}

main #imageGallery .btn:hover {
  color: white;
  border-color: #5bc0de;
}

main #RecentPosts {
  margin-top: 100px;
}

main #RecentPosts .mainrecent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #RecentPosts .mainrecent h2 {
  font-weight: 500;
  text-align: center;
}

main #RecentPosts .mainrecent a {
  color: #17a8a3;
  text-decoration: underline;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  position: absolute;
  margin-top: 10px;
  right: 40px;
}

main #RecentPosts .recentimages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #RecentPosts .recentimages .recent1 img {
  max-width: 100%;
}

main #RecentPosts .recentimages .recent1 .firstrecenteas {
  padding: 30px;
}

main #RecentPosts .recentimages .recent1 .firstrecenteas h3 {
  font-size: 20px;
  font-weight: 500;
}

main #RecentPosts .recentimages .recent1 .firstrecenteas p {
  font-size: 12px;
  color: #787878;
}

main #RecentPosts .recentimages .recent1 .firstrecenteas .btn11 {
  border-radius: 0%;
  color: black;
  border-color: black;
}

main #RecentPosts .recentimages .recent1 .firstrecenteas .btn11:hover {
  color: white;
  background-color: #17A8A3;
  border-color: #17A8A3;
}

main #RecentPosts .recentimages .recent2 img {
  max-width: 100%;
}

main #RecentPosts .recentimages .recent2 .secondrecentteas {
  padding: 30px;
}

main #RecentPosts .recentimages .recent2 .secondrecentteas h3 {
  font-size: 20px;
  font-weight: 500;
}

main #RecentPosts .recentimages .recent2 .secondrecentteas p {
  font-size: 12px;
  color: #787878;
}

main #RecentPosts .recentimages .recent2 .secondrecentteas .btn22 {
  border-radius: 0%;
  color: black;
  border-color: black;
}

main #RecentPosts .recentimages .recent2 .secondrecentteas .btn22:hover {
  color: white;
  background-color: #17A8A3;
  border-color: #17A8A3;
}

main #RecentPosts .recentimages .recent3 img {
  max-width: 100%;
}

main #RecentPosts .recentimages .recent3 .thirdrecentteas {
  padding: 30px;
}

main #RecentPosts .recentimages .recent3 .thirdrecentteas h3 {
  font-size: 20px;
  font-weight: 500;
}

main #RecentPosts .recentimages .recent3 .thirdrecentteas p {
  font-size: 12px;
  color: #787878;
}

main #RecentPosts .recentimages .recent3 .thirdrecentteas .btn33 {
  border-radius: 0%;
  color: black;
  border-color: black;
}

main #RecentPosts .recentimages .recent3 .thirdrecentteas .btn33:hover {
  color: white;
  background-color: #17A8A3;
  border-color: #17A8A3;
}

#imgsection {
  margin-bottom: 50px;
}

#imgsection .imgmain {
  background-image: url("../imagesgallery/bg_newsletter.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 780px;
}

#imgsection .imgmain .texts {
  padding-top: 150px;
}

#imgsection .imgmain .texts h1 {
  color: white;
  font-weight: 610;
  font-size: 45px;
  padding-bottom: 36px;
}

#imgsection .imgmain .texts p {
  color: white;
  font-size: 12px;
}

#imgsection .imgmain .emailinput {
  padding-top: 36px;
}

#imgsection .imgmain .emailinput .form-control {
  background: transparent;
  fill: none;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0;
  border-bottom: 2px solid white;
}

#imgsection .imgmain .emailbutton {
  margin-top: 23px;
  margin-left: 20px;
  height: 50px;
  border-radius: 0;
  background-color: #17a8a3;
  color: white;
  width: 140px;
}

#imgsection .imgmain .emailbutton:hover {
  color: white;
  border-color: #0c865e;
  background-color: #167757e3;
}

.pageshortcut {
  margin-left: 12px;
  margin-top: 80px;
  font-size: 12px;
}

.pageshortcut p {
  display: inline-block;
  color: #787878;
  margin-left: 5px;
}

.pageshortcut a {
  text-decoration: none;
  color: #787878;
  margin-left: 8px;
}

.shortcuttext {
  width: 1263px;
  height: 22px;
  padding-left: 15px;
  padding-top: 13px;
}

.shortcuttext a {
  text-decoration: none;
  color: #787878;
}

.shortcuttext p {
  display: inline-block;
  font-size: 12px;
  color: #787878;
}

#productpage {
  margin-top: 100px;
}

#productpage .zoompicture * {
  border: 0;
  margin: 0;
  padding: 0;
}

#productpage .zoompicture p {
  position: absolute;
  top: 3px;
  right: 28px;
  color: #555;
  font: bold 13px/1 sans-serif;
}

#productpage .zoompicture .zoom {
  display: inline-block;
  position: relative;
}

#productpage .zoompicture .zoom:after {
  content: '';
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(icon.png);
}

#productpage .zoompicture .zoom img {
  display: block;
  height: 540px;
}

#productpage .zoompicture .zoom img::-moz-selection {
  background-color: transparent;
}

#productpage .zoompicture .zoom img::selection {
  background-color: transparent;
}

#productpage .zoompicture #ex2 img:hover {
  cursor: url(grab.cur), default;
}

#productpage .zoompicture #ex2 img:active {
  cursor: url(grabbed.cur), default;
}

#productpage .img1 {
  border: solid 1px black;
  width: 100px;
  height: 98px;
}

#productpage .img1 img {
  width: 96px;
  height: 96px;
}

#productpage .img2 {
  border: solid 1px black;
  width: 100px;
  height: 98px;
}

#productpage .img2 img {
  width: 96px;
  height: 96px;
}

#productpage .img3 {
  border: solid 1px black;
  width: 100px;
  height: 98px;
}

#productpage .img3 img {
  width: 96px;
  height: 96px;
}

#productpage .productright {
  margin-left: 80px;
}

#productpage .productright h4 {
  font-weight: 550;
}

#productpage .productright img {
  height: 14px;
}

#productpage .productright .startext {
  display: inline-block;
  margin-left: 8px;
  font-size: 12px;
  color: #787878;
}

#productpage .productright .fire {
  margin-left: 12px;
  height: 30px;
}

#productpage .productright .firetext {
  display: inline-block;
  color: red;
  font-size: 12px;
}

#productpage .productright .lefttext {
  margin-top: 20px;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
}

#productpage .productright .righttext {
  margin-left: 35px;
  font-size: 12px;
  font-weight: 350;
  color: #787878;
  display: inline-block;
}

#productpage .productright .text {
  font-size: 13px;
  font-weight: 350;
  color: #787878;
}

#productpage .productright #size {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
}

#productpage .productright #small {
  display: inline-block;
  font-size: 13px;
  font-weight: 350;
  color: #787878;
}

#productpage .productright .buttons .btn {
  height: 33px;
  width: 65px;
  font-size: 13px;
  color: black;
}

#productpage .productright .buttons .btn:hover {
  background-color: white;
  color: black;
}

#productpage .productright #quanity1 {
  margin-top: 30px;
  font-size: 13px;
}

#productpage .productright .quanity {
  width: 130px;
  height: 40px;
}

#productpage .productright #subtotal {
  font-size: 13px;
  font-weight: 350;
  color: #787878;
  margin-top: 10px;
}

#productpage .productright .productbtn .btn1 {
  margin-top: 20px;
  border-radius: 0;
  width: 240px;
  height: 50px;
  color: white;
  background-color: #17a8a3;
}

#productpage .productright .productbtn .btn1:hover {
  color: white;
  border-color: #0c865e;
  background-color: #167757e3;
}

#productpage .productright .productbtn .btn2 {
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 0;
  width: 240px;
  height: 50px;
  border-color: black;
  color: black;
  background-color: white;
}

#productpage .productright .productbtn .btn2:hover {
  color: white;
  border-color: #17a8a3;
  background-color: #17a8a3;
}

#productpage .productright .productbtn .chekbutton {
  width: 510px;
  height: 100px;
}

#productpage .productright .productbtn .chekbutton .btn3 {
  margin-top: 20px;
  border-radius: 0;
  width: 505px;
  height: 50px;
  color: #17a8a3;
  background-color: white;
}

#productpage .productright .productbtn .chekbutton .btn:hover {
  color: white;
  border-color: #ffc107;
  background-color: #ff9307;
}

#productpage .productright .productbtn .chekbutton .checking {
  margin-left: 20px;
  margin-top: 10px;
}

#productpage .productright .productbtn #customers {
  font-size: 12px;
  color: #787878;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 20px;
}

#productpage .productright .icons {
  margin-left: -15px;
}

#productpage .productright .icons i {
  margin-left: 15px;
  color: black;
}

#productpage .productright .antivirus {
  margin-top: 20px;
}

#productpage .productright .antivirus img {
  width: 390px;
  height: 40px;
}

#productpage .picturetext h4 {
  text-align: center;
  margin-left: 50px;
  font-size: 16px;
  margin-bottom: 7px;
  margin-top: 20px;
  font-weight: 600;
  line-height: 22px;
}

#productpage .picturetext p {
  text-align: center;
  margin-left: 50px;
  font-size: 12px;
  line-height: 24px;
  color: #787878;
}

#bluelogos {
  padding-top: 100px;
  padding-bottom: 80px;
}

#bluelogos .blueimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#bluelogos .bluetext {
  text-align: center;
}

#bluelogos .bluetext h5 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 25px;
}

#bluelogos .bluetext p {
  font-size: 12px;
  color: #787878;
}

#bluelogos .bluetext a {
  font-size: 12px;
  color: #17a8a3;
  line-height: 24px;
  text-decoration: underline;
}

#CosmoMilan .cosmo {
  max-width: 100%;
  height: 600px;
  background-image: url("../images/banner.jpg");
}

#CosmoMilan .cosmo .cosmotexts {
  width: 450px;
  height: 250px;
  text-align: left;
  padding-top: 180px;
  padding-left: 30px;
}

#CosmoMilan .cosmo .cosmotexts p {
  color: white;
  font-size: 14px;
  margin-bottom: 15px;
}

#CosmoMilan .cosmo .cosmotexts h4 {
  font-size: 26px;
  margin-bottom: 30px;
  color: white;
  font-weight: 600;
}

#CosmoMilan .cosmo .cosmotexts .cosmomaintext p {
  color: white;
  font-size: 12px;
}

.phasellus {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 1400px;
}

.phasellus p {
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #787878;
  line-height: 24px;
}

#easteacollection .collectiontext {
  width: 562px;
  height: 370px;
  padding-top: 90px;
}

#easteacollection .collectiontext h5 {
  font-size: 24px;
  font-weight: 550;
  margin-bottom: 35px;
}

#easteacollection .collectiontext .ps p {
  margin-top: -10px;
  font-size: 12px;
  color: #787878;
}

#easteacollection .collectiontext .listp {
  margin-top: -20px;
  padding-top: 40px;
  width: 560px;
  height: 140px;
  margin-left: -23px;
}

#easteacollection .collectiontext .listp li {
  font-size: 12px;
  color: #787878;
  margin-top: 15px;
}

#easteacollection .collectiontext #btn4 {
  margin-top: 50px;
}

#easteacollection .collectiontext #btn4 .btn4 {
  margin-top: 20px;
  border-radius: 0;
  width: 180px;
  height: 45px;
  color: black;
  background-color: white;
}

#easteacollection .collectiontext #btn4 .btn4:hover {
  color: white;
  border-color: #17A8A3;
  background-color: #17A8A3;
}

#blackteacollection {
  padding-top: 50px;
}

#blackteacollection .btcollectiontext {
  padding-top: 140px;
}

#blackteacollection .btcollectiontext h5 {
  font-size: 24px;
  font-weight: 550;
  margin-bottom: 35px;
}

#blackteacollection .btcollectiontext .btps {
  width: 560px;
  height: 155px;
  font-size: 12px;
  color: #787878;
}

#blackteacollection .btcollectiontext .btps p {
  margin-top: -10px;
}

#blackteacollection .btcollectiontext .btps2 {
  width: 560px;
  height: 155px;
  font-size: 12px;
  color: #787878;
  margin-top: -60px;
}

#blackteacollection .btcollectiontext .btps2 p {
  margin-top: -10px;
}

.search {
  margin-top: 100px;
}

.bannerimg img {
  margin-top: 100px;
  width: 100%;
  height: 663px;
}

.blogtexts p {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  color: #787878;
}

.blogtexts p a {
  text-decoration: underline;
  color: #17A8A3;
}

.blogtexts h4 a {
  font-size: 24px;
  color: black;
  font-weight: 600;
}

.bannerimg2 img {
  margin-top: 20px;
  width: 100%;
  height: 663px;
}

.rounded {
  height: 45px;
}

hr {
  margin-top: 40px;
  border: 1px solid #787878;
}

.blogcategories h5 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 600;
}

.blogcategories p {
  font-size: 12px;
  color: #787878;
}

.blogrecentpost {
  padding-top: 10px;
  padding-bottom: 30px;
}

.blogrecentpost h5 {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.blogrecentpost .recentpart1 {
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogrecentpost .recentpart1 img {
  width: 85px;
  height: 85px;
  border-radius: 7%;
  margin-top: 10px;
}

.blogrecentpost .recentpart1 .recentpart1texts {
  margin-left: 20px;
  width: 185px;
  height: 82px;
}

.blogrecentpost .recentpart1 .recentpart1texts #naminos {
  margin-top: 13px;
  font-size: 12px;
}

.blogrecentpost .recentpart1 .recentpart1texts #date {
  font-size: 12px;
  color: #787878;
}

.blogrecentpost .recentpart2 {
  width: 270px;
  height: 85px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogrecentpost .recentpart2 img {
  width: 85px;
  height: 85px;
  border-radius: 7%;
  margin-top: 35px;
}

.blogrecentpost .recentpart2 .recentpart2texts {
  margin-left: 20px;
  width: 185px;
  height: 82px;
}

.blogrecentpost .recentpart2 .recentpart2texts #naminos {
  margin-top: 39px;
  font-size: 12px;
}

.blogrecentpost .recentpart2 .recentpart2texts #date {
  font-size: 12px;
  color: #787878;
}

.blogrecentpost .recentpart3 {
  width: 270px;
  height: 85px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogrecentpost .recentpart3 img {
  width: 85px;
  height: 85px;
  border-radius: 7%;
  margin-top: 35px;
}

.blogrecentpost .recentpart3 .recentpart3texts {
  margin-left: 20px;
  width: 185px;
  height: 82px;
}

.blogrecentpost .recentpart3 .recentpart3texts #naminos {
  margin-top: 37px;
  font-size: 12px;
}

.blogrecentpost .recentpart3 .recentpart3texts #date {
  font-size: 12px;
  color: #787878;
}

.bestsellers h5 {
  display: inline-block;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.bestsellers .view {
  font-size: 12px;
  color: #17A8A3;
  margin-left: 100px;
  text-decoration: underline;
  display: inline-block;
}

.bestsellers a {
  font-size: 12px;
  color: #17A8A3;
  margin-left: 20px;
}

.bestsellers .seller1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bestsellers .seller1 .sellerimg1 {
  width: 85px;
  height: 154px;
}

.bestsellers .seller1 .sellerimg1 img {
  width: 85px;
  height: 85px;
}

.bestsellers .seller1 .sellertext1 {
  width: 185px;
  height: 154px;
}

.bestsellers .seller1 .sellertext1 p, .bestsellers .seller1 .sellertext1 del, .bestsellers .seller1 .sellertext1 span {
  font-size: 12px;
}

.bestsellers .seller1 .sellertext1 .colors .color1 {
  display: inline-block;
  border: solid 1px #424242;
  border-radius: 50%;
  height: 19px;
  width: 19px;
}

.bestsellers .seller1 .sellertext1 .colors .color1 .inlinecolor1 {
  border: solid 1px #424242;
  border-radius: 50%;
  height: 15px;
  border-color: white;
  width: 15px;
  background-color: gray;
  margin-top: 1px;
  margin-left: 1px;
}

.bestsellers .seller1 .sellertext1 .colors .color2 {
  display: inline-block;
  border: solid 1px #c5c5c5;
  border-radius: 50%;
  height: 19px;
  background-color: whitesmoke;
  width: 19px;
}

.bestsellers .seller1 .sellertext1 .colors .color2 .inlinecolor2 {
  border: solid 1px #424242;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  border-color: white;
  background-color: #F5F5DC;
  margin-top: 1px;
  margin-left: 1px;
}

.bestsellers .seller2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bestsellers .seller2 .sellerimg2 {
  width: 85px;
  height: 154px;
}

.bestsellers .seller2 .sellerimg2 img {
  width: 85px;
  height: 85px;
}

.bestsellers .seller2 .sellertext2 {
  width: 185px;
  height: 154px;
}

.bestsellers .seller2 .sellertext2 p, .bestsellers .seller2 .sellertext2 del, .bestsellers .seller2 .sellertext2 span {
  font-size: 12px;
}

.bestsellers .seller2 .sellertext2 .colors .color1 {
  display: inline-block;
  border: solid 1px #424242;
  border-radius: 50%;
  height: 19px;
  width: 19px;
}

.bestsellers .seller2 .sellertext2 .colors .color1 .inlinecolor1 {
  border: solid 1px #424242;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  border-color: white;
  background-color: #F08080;
  margin-top: 1px;
  margin-left: 1px;
}

.bestsellers .seller2 .sellertext2 .colors .color2 {
  display: inline-block;
  border: solid 1px #c5c5c5;
  border-radius: 50%;
  height: 19px;
  background-color: whitesmoke;
  width: 19px;
}

.bestsellers .seller2 .sellertext2 .colors .color2 .inlinecolor2 {
  border: solid 1px #424242;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  border-color: white;
  background-color: #F5F5DC;
  margin-top: 1px;
  margin-left: 1px;
}

.bestsellers .seller2 .sellertext2 .colors .color3 {
  display: inline-block;
  border: solid 1px #c5c5c5;
  border-radius: 50%;
  height: 19px;
  background-color: whitesmoke;
  width: 19px;
}

.bestsellers .seller2 .sellertext2 .colors .color3 .inlinecolor3 {
  border: solid 1px #424242;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  border-color: white;
  background-color: #FFFFFF;
  margin-top: 1px;
  margin-left: 1px;
}

.bestsellers .seller3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bestsellers .seller3 .sellerimg3 {
  width: 85px;
  height: 154px;
}

.bestsellers .seller3 .sellerimg3 img {
  width: 85px;
  height: 85px;
}

.bestsellers .seller3 .sellertext3 {
  width: 185px;
  height: 154px;
}

.bestsellers .seller3 .sellertext3 p, .bestsellers .seller3 .sellertext3 del, .bestsellers .seller3 .sellertext3 span {
  font-size: 12px;
}

.herbaltea img {
  width: 100%;
  height: 390px;
}

.customsms h4 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 23px;
  margin-bottom: 23px;
}

.customsms #custom1 {
  font-size: 12px;
  color: #787878;
  margin-top: 15px;
}

.customsms #custom2 {
  font-size: 12px;
  color: #787878;
}

.themefaqs {
  padding-left: 25px;
}

.themefaqs a {
  color: #17A8A3;
  text-decoration: underline;
}

.themefaqs h3 {
  font-weight: 600;
}

.themefaqs p {
  font-size: 12px;
}

#Faqs .needhelp {
  height: 184px;
  padding-top: 50px;
  background-color: #FAFAFA;
}

#Faqs .needhelp h4 {
  text-align: center;
  font-weight: 600;
}

#Faqs .needicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 2px black;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

#Faqs .needicons i {
  padding: 30px 0 0 75px;
  font-size: 30px;
}

#Faqs .questions {
  padding-top: 50px;
}

#Faqs .questions .proslsquestions .slsquestion1 {
  border: solid 2px black;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

#Faqs .questions .proslsquestions .slsquestion1 p {
  font-size: 14px;
  color: #1E1E1E;
  padding-top: 20px;
  padding-bottom: 10px;
}

#Faqs .questions .proslsquestions .slsquestion2 {
  border: solid 1px black;
  border-left: none;
  border-right: none;
}

#Faqs .questions .proslsquestions .slsquestion2 p {
  font-size: 14px;
  color: #1E1E1E;
  padding-top: 20px;
  padding-bottom: 10px;
}

#Faqs .questions .themequestions {
  padding-top: 70px;
}

#Faqs .questions .themequestions .themequestion1 {
  border: solid 2px black;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

#Faqs .questions .themequestions .themequestion1 p {
  font-size: 14px;
  color: #1E1E1E;
  padding-top: 20px;
  padding-bottom: 10px;
}

#Faqs .questions .themequestions .themequestion2 {
  border: solid 1px black;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

#Faqs .questions .themequestions .themequestion2 p {
  font-size: 14px;
  color: #1E1E1E;
  padding-top: 20px;
  padding-bottom: 10px;
}

#Faqs .questions .themequestions .themequestionend {
  border: solid 1px black;
  border-left: none;
  border-right: none;
}

#Faqs .questions .themequestions .themequestionend p {
  font-size: 14px;
  color: #1E1E1E;
  padding-top: 20px;
  padding-bottom: 10px;
}

#Faqs .questions .support {
  padding-left: 580px;
  padding-top: 40px;
  padding-bottom: 40px;
}

#Faqs .questions .support p {
  font-size: 12px;
  color: #787878;
}

header .logoandtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbarm {
  z-index: 10;
  background-color: white;
  width: 100%;
  padding: 5px;
}

header .firsthead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header img {
  width: 200px;
}

header a {
  padding: 10px;
  color: black;
  font-weight: 500;
  font-size: 14px;
}

header .specialof {
  width: 70px;
}

header #sale::after {
  content: 'Sale';
  position: absolute;
  font-size: 10px;
  color: white;
  text-align: center;
  width: 35px;
  height: 15px;
  background-color: #ff3300;
  bottom: 47px;
  left: 465px;
  border-radius: 12%;
}

header #hot::after {
  content: 'Hot';
  font-size: 10px;
  text-align: center;
  color: white;
  position: absolute;
  width: 35px;
  height: 15px;
  background-color: #ffc400;
  bottom: 47px;
  right: 230px;
  border-radius: 12%;
}

header #new::after {
  content: 'New';
  position: absolute;
  font-size: 10px;
  text-align: center;
  color: white;
  width: 35px;
  height: 15px;
  background-color: #01c070;
  bottom: 47px;
  right: 130px;
  border-radius: 12%;
}

header .menuright a {
  padding: 21px;
  font-size: 17px;
}

header .menuright a .fa-shopping-cart::after {
  content: '1';
  position: absolute;
  text-align: center;
  color: white;
  width: 20px;
  height: 20px;
  background-color: #e95144;
  top: 8px;
  right: 32px;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .navbarm a {
    display: none;
  }
  .menuright {
    display: none;
  }
  .navbarm .logo a {
    display: block;
    padding-left: 420px;
  }
  .navbarm .logo a img {
    width: 150px;
  }
  .MostPopular .popularimages .popular3 {
    overflow-x: scroll;
  }
  #partvideo .leftpart br {
    display: none;
  }
  #partvideo .leftpart h2 {
    font-size: 35px;
  }
  #imageGallery .images .firstrow .withoutimg img {
    display: none;
  }
  #imageGallery .images .secondrow img {
    display: none;
  }
  footer #iconsfooter .startoficon {
    display: none;
  }
}

@media screen and (max-width: 910px) {
  .navbarm .logo a {
    display: block;
    padding-left: 270px;
  }
  .navbarm .logo a img {
    width: 150px;
  }
}

#iconsfooter {
  padding-left: 45px;
  margin-bottom: 30px;
}

#iconsfooter .iconbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#iconsfooter .iconbox i {
  font-size: 50px;
  padding-right: 20px;
}

#iconsfooter .iconbox .icontext h6 {
  font-size: 14px;
  margin-bottom: 10px;
}

#iconsfooter .iconbox .icontext p {
  font-size: 12px;
  font-weight: 300;
  color: grey;
  text-decoration: underline;
}

#endoffooter {
  background-color: #f7f9f9;
  height: 363px;
}

#endoffooter .contact {
  margin-top: 30px;
}

#endoffooter .boximg img {
  width: 45%;
  margin-top: 30px;
  margin-bottom: 25px;
  padding-left: 50px;
}

#endoffooter p {
  font-size: 11px;
  font-weight: 400;
  color: grey;
  padding-left: 50px;
}

#endoffooter p a {
  color: black;
  text-decoration: underline;
}

#endoffooter ul {
  margin-top: 55px;
  list-style-type: none;
}

#endoffooter ul li {
  font-size: 12px;
  margin-top: 15px;
  color: grey;
}

#endoffooter ul .headli {
  font-size: 17px;
  font-weight: 500;
  color: #000;
}

#lastpart {
  margin-bottom: 40px;
  margin-top: 50px;
}

#lastpart p {
  font-size: 12px;
  color: grey;
  margin-left: 50px;
}

#lastpart .bankcards {
  margin-left: 250px;
}

#lastpart .bankcards img {
  width: 40px;
  margin-left: 10px;
}

body {
  font-family: "Poppins", sans-serif;
}
