#iconsfooter{
    margin-left: 45px;
    margin-bottom: 30px;
    .iconbox{
        display: flex; 
         
         i{
             font-size: 50px;
             margin-right: 20px;
         }
         .icontext{
             h6{
                 font-size: 14px;
                 margin-bottom: 10px;
             }
             p{
                 font-size: 12px;
                 font-weight: 300;
                 color: grey;
                 text-decoration: underline;
             }
         }
    }
     
}   

#endoffooter{
    background-color: #f7f9f9;
    width: 1263px;
    height: 363px;
    .contact{
        margin-top: 30px;
    }
        .boximg{
            img{
                width: 45%;
                margin-top: 30px;
                margin-bottom: 25px;
                margin-left: 50px;
            }
        }
        p{
            font-size: 11px;
            font-weight: 400;
            color: grey;
            margin-left: 50px;
            
            a{
                color: black;
                text-decoration: underline;
            }
        }
     
        ul{
            margin-top: 55px;
            list-style-type: none;
            li{
                font-size: $little_font;
                margin-top: 15px;
                color: grey;
            }
            .headli{
                font-size: 17px;
                font-weight: 500;
                color: #000;
            }
        }
     
      
      
}

#lastpart{
    margin-bottom: 40px;
    p{
        font-size: $little_font;
        color: grey;
        margin-left: 50px;
         
    }
    margin-top: 50px;
    .bankcards{
        margin-left: 250px;
        img{
            width: 40px;
            margin-left: 10px;
        }
    }
}