@media  screen and (max-width: 1024px) {
     .navbarm{
         a{
             display: none;
         }
     }
     .menuright{
         display: none;
     }
    .navbarm{
        .logo{
            a{
                img{
                    width: 150px;
                }
                display: block;
                padding-left: 420px;
            }
        }
    }

        .MostPopular{
            .popularimages{
                .popular3{
                    overflow-x: scroll;
                }
            }
        }

         #partvideo{
             .leftpart{   
                 br{
                     display: none;
                 }
                 h2{
                     font-size: 35px;
                 }
                  
             }
         }

         #imageGallery{
             .images{
                 .firstrow{
                     .withoutimg{
                         img{
                             display: none;
                         }
                     }
                 }
                .secondrow{
                    img{
                        display: none;
                    }
                }
             }
              
         }

         footer{
             #iconsfooter{           
                   .startoficon{
                    display: none;
                   }  
                    
             }
              
         }

  }

  @media  screen and (max-width: 910px){

    .navbarm{
        .logo{
            a{
                img{
                    width: 150px;
                }
                display: block;
                padding-left: 270px;
            }
        }
    }

  }