@import "variables";

body{
  font-family: $text_font;
}

header{
   
 img{
     width: 200px;
 }
a{
  padding: 10px;
  color: rgb(0, 0, 0);
   font-weight: 500;
  font-size:14px;
  
}
.specialof{
  width: 70px;
}

#sale::after{
  content: 'Sale';
  position: absolute;
  font-size: 10px;
  color: white;
  text-align: center;
  width: 35px;
  height: 15px;
  background-color: rgb(255, 51, 0);
  top: 3px;
  left: 480px;
  border-radius: 12%;
}

#hot::after{
  content: 'Hot';
  font-size: 10px;
  text-align: center;
  color: white;
  position: absolute;
  width: 35px;
  height: 15px;
  background-color: rgb(255, 196, 0);
  top: 3px;
  right: 236px;
  border-radius: 12%;
}

#new::after{
  content: 'New';
  position: absolute;
  font-size: 10px;
  text-align: center;
  color: white;
  width: 35px;
  height: 15px;
  background-color: rgb(1, 192, 112);
  top: 3px;
  right: 137px;
  border-radius: 12%;
}

 .menuright{
   a{
     padding: 23px;
     font-size: 17px;
   }
 }
    
} 
main{

 
.slide, .carousel-inner{
    height: 550px;
    margin-top: 15px;
}

.carousel-caption{
    padding-bottom: 350px;
    .firstslide{
      h1{
        margin-right: 550px;
      }
      p{
        margin-right:450px ;
      }
    }
    .thirdslide{
      h5,p{
        margin-right: 380px;
      }
    }
}
 

.NewArrivals{
  font-weight: bold;
  h2{
    text-align: center;
    margin-top: 80px;
  }
   .owl-carousel{
     margin-top: 30px;
     img{
       height: 380px;
     }
      
   }
   
.owl-prev{
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-left: -40px;
  display: block !important;
  border:0px solid black;

}
.owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: -45px;
  display: block !important;
  border:0px solid black;
}
}
 #MostPopular{
margin-top: 100px;
.mainpopular{
  margin-bottom: 35px;
  h2{
    font-weight: 400;
    text-align: center;
  }
  p{
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    margin-left: 470px;
  }
  a{
     color: #17a8a3;
     text-decoration: underline;
     background-color: transparent;
     transition: all 0.3s ease;
     box-sizing: border-box;
     font-size: 12px;
     margin-left: 180px;
  }

}

.popularimages{
  a{
    text-decoration: none;
  }
  img{
    width: 418px;
  }
  .fade{
    opacity: 1;
    transition: opacity .20s ease-in-out;
    -moz-transition: opacity .20s ease-in-out;
    -o-transition: opacity .20s ease-in-out;
    -webkit-transition: opacity .20s ease-in-out;
     
  }
  .fade:hover{
    opacity: 0.7;
     
      
  }
}

.teas{

margin-top: 40px;
   .btn{
     width: 200px;
     height: 45px;
     border-radius: 0;
     border-color: rgb(80, 80, 80);
     color: black;
   }
   .btn:hover{
     color: white;
     border-color:#5bc0de;
   }
.firstteas{
 margin-right: 50px;
 h3,p, .btn{
  margin-bottom: 40px;
 }
  
}
 
.secondteas{
  h3,p, .btn{
    margin-bottom: 40px;
   }
 
}

.thirdteas{
margin-left: 50px;
h3,p, .btn{
  margin-bottom: 40px;
 }
  }
  }
  
  
}

    
  #newprdcs{

     
    h2{
      text-align: center;
       color: red;
    }
   
  }


  #partvideo{
    margin-top: 150px;
  }

 
}